{% extends "::base.html.twig" %}

{% block title %}s2todoBundle:Back:form{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Ajouter un événement</div>
    <div class="panel-body">
   {{ form(form) }}
        {% if event.document is not empty %}
        <li class="list-group-item">
            Document : <a href="{{ asset(event.WebPath()) }}">{{ event.document }}</a> (Uploader un nouveau document pour effacer le document présent)
        </li>
        {% endif %}
    </div>

</div>
{% endblock %}
